header#header 
  h2#site-name 
    a(href="/") Suzanna Lam's Portfolio
  nav
    ul
      li
        a(href="/") Home      
      li
        a(href="/addProject") Add Project
      li
        a(href="/addSkill") Add Skill